footer {
  font-size: 0.75em;
  text-align: center;
  clear: both;
  padding-top: 50px;
  color: #fff;
}

.social-icon {
  width: 30px;
  height: 30px;
  margin: 0 5px 5px;
}

em {
  font-size: 130%;
}

.header-font {
  font-family: 'Megrim', cursive;
  text-align: center;
  color: #BCBCBE;
  font-size: 90px;
  font-weight: bolder;
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #;
}

body {
   background-color: #eee;
   background-attachment: fixed;
}


#wrapper {
  width: 80%;
  margin: 0 auto;
}

.carousel-inner {
  padding: auto;
  color: #000;
}

.carousel {
  background: rgba(255,255,255,0.85);
}

video#bgvid {
position: fixed;
top: 50%;
left: 50%;
min-width: 100%;
min-height: 100%;
width: auto;
height: auto;
z-index: -100;
-webkit-transform: translateX(-50%) translateY(-50%);
transform: translateX(-50%) translateY(-50%);
background: url(polina.jpg) no-repeat;
background-size: cover;
}
